@import url('https://fonts.googleapis.com/css?family=Teko');
* {
  font-family: Teko, Helvetica, sans-serif;
  text-align: center;
  font-weight: 900;
  color: #FFF;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  background: #333;
}
h1 {
  margin-top: 5vh;
  text-align: center;
  font-size: 6vh;
  line-height: 10vh;
  text-transform: uppercase;
  letter-spacing: .15em;
}
#counter {
  font-size: 5vh;
  line-height: 10vh;
}

#scale {
  overflow: visible;
  background: #555;
  transition: background .5s;
  width: 6vh;
  height: 55vh;
  border-radius: 6vh;
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 0 .7vh .2vh rgba(0,0,0,0.54),
              0 0.9vh 0 .9vh #444,
              0 -0.9vh 0 .9vh #2D2D2D,
              0 -1vh 0 1.1vh #555,
              0 1vh 0 1.1vh #555,
              0 0 1vh 0vh rgba(255,255,255,0.3) inset,
              0 0 0vh .2vh rgba(255,255,255,0.4) inset;
}
#scale:after {
  display: block;
  content: '';
  height: .5vh;
  width: 6vh;
  position: absolute;
  top: 2.5vh;
  left: 0;
  z-index: 0;
  background: rgba(255,255,255,.54);
  box-shadow: 0 10vh 0 rgba(255,255,255,.54),
              0 20vh 0 rgba(255,255,255,.54),
              0 30vh 0 rgba(255,255,255,.54),
              0 40vh 0 rgba(255,255,255,.54),
              0 50vh 0 rgba(255,255,255,.54);
}
#scale:before {
  display: block;
  content: '';
  height: .25vh;
  width: 2vh;
  position: absolute;
  top: 5vh;
  left: 2vh;
  z-index: 0;
  border-radius: 1vh;
  background: rgba(255,255,255,.54);
  box-shadow: 0 2.5vh 0 rgba(255,255,255,.54),
              0 5vh 0 rgba(255,255,255,.54),
              0 10vh 0 rgba(255,255,255,.54),
              0 12.5vh 0 rgba(255,255,255,.54),
              0 15vh 0 rgba(255,255,255,.54),
              0 20vh 0 rgba(255,255,255,.54),
              0 22.5vh 0 rgba(255,255,255,.54),
              0 25vh 0 rgba(255,255,255,.54),
              0 30vh 0 rgba(255,255,255,.54),
              0 32.5vh 0 rgba(255,255,255,.54),
              0 35vh 0 rgba(255,255,255,.54),
              0 40vh 0 rgba(255,255,255,.54),
              0 42.5vh 0 rgba(255,255,255,.54),
              0 45vh 0 rgba(255,255,255,.54);
}
#good, #bad {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 4vh;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-left: 0.1em;
}
#good {
  top: -7.2vh;
  color: #F73;
  text-shadow: 0 0 1.5vh #F52;
}
#bad {
  bottom: -7.7vh;;
  color: #6DF;
  text-shadow: 0 0 1.5vh #4488DD;
}

#markerNbr {
  position: absolute;
  font-size: 4.5vh;
  line-height: 3.5vh;
  padding: 1vh 0 0;
  width: 100%;
  text-align: center;
  transition: bottom .5s;
  text-shadow: 0 1vh 1vh rgba(0,0,0,0.24);
}
#marker {
  position: absolute;
  width: 4.5vh;
  height: 4.5vh;
  left: .75vh;
  right: .75vh;
  z-index: 100;
  background: #EEE;
  box-shadow: 0 0 0 .5vh #FFF inset, 0 1vh 1vh rgba(0,0,0,0.24);
  border-radius: 10vh;
  text-align: center;
  transition: bottom .5s;
  font-size: 0;
  overflow: visible;
}
#marker:before {
  display: block;
  content: '';
  width: 3vh;
  height: .5vh;
  position: absolute;
  left: .75vh;
  top: 2vh;
  background: #FFF;
  border-radius: .5vw;
}

#btnContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 12vh;
}
button {
  font-size: 5vh;
  background: none;
  width: 40%;
  height: 8vh;
  border: .7vh solid #FFF;
  border-radius: 5vh;
}
